[submodule "app/src/main/jni/hev-socks5-tproxy"]
	path = app/src/main/jni/hev-socks5-tproxy
	url = https://gitlab.com/hev/hev-socks5-tproxy
[submodule "app/src/main/jni/hev-dns-proxy"]
	path = app/src/main/jni/hev-dns-proxy
	url = https://gitlab.com/hev/hev-dns-proxy
[submodule "app/src/main/jni/sepolicy-inject"]
	path = app/src/main/jni/sepolicy-inject
	url = https://gitlab.com/hev/sepolicy-inject
