[submodule "jni/hev-socks5-tproxy"]
	path = jni/hev-socks5-tproxy
	url = git://github.com/heiher/hev-socks5-tproxy
[submodule "jni/hev-dns-proxy"]
	path = jni/hev-dns-proxy
	url = git://github.com/heiher/hev-dns-proxy
[submodule "jni/sepolicy-inject"]
	path = jni/sepolicy-inject
	url = git://github.com/heiher/sepolicy-inject
